.black{
    color: #000;
}
.div{
    background-color: rgb(77, 77, 77);
	width: 240px;
    height: 60px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
}
.blue{
    color: rgb(0, 0, 166);
}